<?xml version="1.0" encoding="utf-8"?>
<config>
	<inlinehelp button="hide"/>
	<fieldset
		name="component"
		label="COM_YAQUIZ_COMPONENT">

        <field
            name="theme"
            type="list"
            label="COM_YAQUIZ_FIELD_THEME_LABEL"
            description="COM_YAQUIZ_FIELD_THEME_DESC"
            default="default"
            >
            <option value="default">Default (Bootstrap Cards)</option>
        </field>
        <field
            name="record_hits"
            type="radio"
            label="COM_YAQUIZ_FIELD_RECORD_HITS_LABEL"
            description="COM_YAQUIZ_FIELD_RECORD_HITS_DESC"
            default="0"
            >
            <option value="1">JYES</option>
            <option value="0">JNO</option>
        </field>
        <field
            name="record_submissions"
            type="radio"
            label="COM_YAQUIZ_FIELD_RECORD_SUBMISSIONS_LABEL"
            description="COM_YAQUIZ_FIELD_RECORD_SUBMISSIONS_DESC"
            default="0"
        >
        <option value="1">JYES</option>
        <option value="0">JNO</option>
        </field>

        <field
        name="get_mathjax"
        type="list"
        label="COM_YAQUIZ_FIELD_LOAD_MATHJAX_LABEL"
        description="COM_YAQUIZ_FIELD_LOAD_MATHJAX_DESC"
        default="0"
        >
        <option value="2">Yes - From Local</option>
        <option value="1">Yes - From Remote CDN (jsdelivr)</option>
        <option value="0">JNO</option>
        </field>

        <field
        name="respect_jcache"
        type="radio"
        label="COM_YAQUIZ_RESPECT_CACHE_LABEL"
        description="COM_YAQUIZ_RESPECT_CACHE_DESC"
        default="1"
        >
        <option value="1">JYES</option>
        <option value="0">JNO</option>
        </field>


        <field
            name="credit_note"
            type="note"
            label="Extension By Kevin Olson"
            description="COM_YAQUIZ_XML_DESCRIPTION"
        />




</fieldset>
<fieldset
name="globaloptions"
label="COM_YAQUIZ_GLOBAL_OPTIONS_LABEL">


    <field
    name="noteglobal"
    type="note"
    label="COM_YAQUIZ_GLOBAL_OPTIONS_LABEL"
    description="COM_YAQUIZ_GLOBAL_OPTIONS_DESC"
    />
    <field
    name="access"
    type="accesslevel"
    label="COM_YAQUIZ_FIELD_QUIZACCESSLEVEL_LABEL"
    description="COM_YAQUIZ_FIELD_QUIZACCESSLEVEL_DESC"
    default="1"
    />
    <field
    name="randomize_mchoice"
    type="radio"
    label="COM_YAQUIZ_FIELD_RANDOMIZE_MCHOICE_LABEL"
    description="COM_YAQUIZ_FIELD_RANDOMIZE_MCHOICE_DESC"
    default="0"
    >
    <option value="1">JYES</option>
    <option value="0">JNO</option>
    </field>

    <field 
    name="shortans_ignore_trailing"
    type="radio"
    label="COM_YAQUIZ_FIELD_SHORTANS_IGNORE_TRAILING_LABEL"
    description="COM_YAQUIZ_FIELD_SHORTANS_IGNORE_TRAILING_DESC"
    default="1"
    >
    <option value="1">JYES</option>
    <option value="0">JNO</option>
    </field>


</fieldset>

<fieldset
name="language"
>
<field
name="lang_pass"
type="textarea"
label="COM_YAQUIZ_FIELD_LANG_PASS_LABEL"
description="COM_YAQUIZ_FIELD_LANG_PASS_DESC"
default="You have passed this quiz!"
/>
<field
name="lang_fail"
type="textarea"
label="COM_YAQUIZ_FIELD_LANG_FAIL_LABEL"
description="COM_YAQUIZ_FIELD_LANG_FAIL_DESC"
default="Unfortunately, you haven't passed this quiz."
/>
</fieldset>

<!-- access settings -->
<fieldset
name="permissions"
label="JCONFIG_PERMISSIONS_LABEL"
description="JCONFIG_PERMISSIONS_DESC"
>
<field
    name="rules"
    type="rules"
    label="JCONFIG_PERMISSIONS_LABEL"
    validate="rules"
    filter="rules"
    component="com_yaquiz"
    section="component"
/>
</fieldset>

</config>
