



    QUIZ_NAME
    Completion Certificate
    
        This is to Certify That
        USER_FULLNAME
        has successfully passed QUIZ_NAME
    
    
        Score: QUIZ_SCORE / QUIZ_TOTAL
        Time: QUIZ_TIME
        Date: QUIZ_DATE
    
    
    
        Verify: CERT_CODE
         © QUIZ_COPYRIGHT 
    





    body {
        font-family: Arial, Helvetica, sans-serif;
        border:  5px solid black;
        outline: 5px solid black;
        outline-offset: 10px;
        position: relative;
    }

    h1 {
        font-size: 30px;
        text-align: center;
    }

    h2 {
        font-size: 20px;
        text-align: center;
    }

    .certify-message {
        text-align: center;
        background: rgb(0, 0, 0);
        color: rgb(255, 255, 255);
        padding: 10px;
    }

    .quiz-stats{
        text-align: center;
        background: #dddddd;
        padding: 10px;

    }

    .name-big{
        font-size: 30px;
    }



    p {
        font-size: 15px;
        text-align: center;
    }


